<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
        <title>Diabetes@Home</title>
    </head>

    <body>
        <header>
            <a href="/clinician" id="menu-logo">Diabetes@home</a>
            
            <!--navigation bar for deskptop sizes-->
            <ul>
                <li><a href="/clinician" class = {{dashboard}}>Dashboard</a></li>
                <li><a href="/clinician/register" class = {{register}}>Register a patient</a></li>
                <li><a href="/clinician/about_diabetes" class = {{about_diabetes}}>About diabetes</a></li>
                <li><a href="/clinician/about_us" class = {{about_us}}>About us</a></li>
                <li><a href="/clinician/settings" class = {{settings}}>Account settings</a></li>
                <li>
                    <form method="POST" action="/login_select/logout">
                        <button class = "logout">Logout</button>
                    </form>
                </li>
            </ul>          
        </header>

        <main>
            {{{body}}}
        </main>
    </body>
</html>