<h1 class="heading-block">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <polyline points="5 12 3 12 12 3 21 12 19 12" />
        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
    </svg>
    Dashboard
</h1>

<div class="tabs">
    <input type="radio" id="data-tab" name="dashboard-tabs" checked="checked">
    <label for="data-tab">Data</label>
    <table class="tab">
        <tr>
            <th></th>
            <th>PatientID</th>
            <th>Name</th> 
            <th>Blood Glucose Level (mmol/L)</th>  
            <th>Weight (kg)</th>
            <th>Insulin doses</th>
            <th>Exercise (steps)</th>
        </tr>

        <tr>
            <td>
                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="10" cy="10" r="7" />
                <line x1="21" y1="21" x2="15" y2="15" />
                </svg></a>
            </td>
            <td>{{profile.patientID}}</td>
            <td>{{profile.first_name}} {{profile.last_name}}</td>
            {{#if data}} 
                <td id = {{checkThreshold data.glucose_data profile.glucose_min profile.glucose_max}}> {{data.glucose_data}} </td> 
            {{else}}
                <td> N/A </td> 
            {{/if}}
            <td>N/A</td>
            <td>2</td>
            <td>N/A</td>
        </tr>
    </table>

    <input type="radio" id="comments-tab" name="dashboard-tabs">
    <label for="comments-tab">Comments</label>
    <table class="tab">
        <tr>
            <th></th>
            <th>PatientID</th>
            <th>Name</th> 
            <th>Attribute</th>  
            <th>Value</th>
            <th>Comment</th>
        </tr>

        <tr>
            {{#if data.comments}}
            <td>
                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="10" cy="10" r="7" />
                <line x1="21" y1="21" x2="15" y2="15" />
                </svg></a>
            </td>
            
                <td>{{profile.patientID}}</td>
                <td>{{profile.first_name}} {{profile.last_name}}</td> 
                <td>Glucose Level (mmol/L)</td>  
                <td>{{data.glucose_data}}</td>
                <td>{{data.comments}}</td>
            {{/if}}
        </tr>
    </table>
</div>