<h1 class="heading-block">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <polyline points="5 12 3 12 12 3 21 12 19 12" />
        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
    </svg>
    Dashboard
</h1>


<div class="dashboard-tabs">

    <!--style dashboard data tab-->
    <input type="radio" id="data-tab" name="dashboard-tabs" checked="checked">
    <label for="data-tab">Data</label>
    <table class="dashboard-tab">
        <tr>
            <th></th>
            <th>PatientID</th>
            <th>Name</th> 
            <th>Blood Glucose Level (mmol/L)</th>  
            <th>Weight (kg)</th>
            <th>Insulin doses</th>
            <th>Exercise (steps)</th>
        </tr>

        {{#each patientData}}
            <tr>
                <td>
                    <form action="/clinician/patient_view" method="POST">
                        <input type="hidden" name="patientID" value = {{this._id}}>
                        <button class = "view-button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="10" cy="10" r="7" />
                            <line x1="21" y1="21" x2="15" y2="15" />
                            </svg>
                        </button>
                    </form>
                </td>
                <td>{{this.patientID}}</td>
                <td>{{this.first_name}} {{this.last_name}}</td>

                <!--enter the glucose data-->
                {{#if this.summary.glucoseID}}
                    <td class = {{checkThreshold this.summary.glucoseID.glucose_data this.glucose_min this.glucose_max}}> 
                        {{this.summary.glucoseID.glucose_data}}
                    </td> 
                {{else}}
                    {{#if this.req_glucose}}
                        <td class="data-warning">-</td>
                    {{else}}
                        <td>N/A</td>
                    {{/if}}
                {{/if}}
                
                <!--enter the weight data-->
                {{#if this.summary.weightID}}
                    <td class = {{checkThreshold this.summary.weightID.weight_data this.weight_min this.weight_max}}> 
                        {{this.summary.weightID.weight_data}}
                    </td> 
                {{else}}
                    {{#if this.req_weight}}
                        <td class="data-warning">-</td>
                    {{else}}
                        <td>N/A</td>
                    {{/if}}
                {{/if}}

                <!--enter the insulin data-->
                {{#if this.summary.insulinID}}
                    <td class = {{checkThreshold this.summary.insulinID.insulin_data this.insulin_min this.insulin_max}}> 
                        {{this.summary.insulinID.insulin_data}}
                    </td> 
                {{else}}
                    {{#if this.req_insulin}}
                        <td class="data-warning">-</td>
                    {{else}}
                        <td>N/A</td>
                    {{/if}}
                {{/if}}

                <!--enter the exercise data-->
                {{#if this.summary.exerciseID}}
                    <td class = {{checkThreshold this.summary.exerciseID.exercise_data this.exercise_min this.exercise_max}}> 
                        {{this.summary.exerciseID.exercise_data}}
                    </td> 
                {{else}}
                    {{#if this.req_exercise}}
                        <td class="data-warning">-</td>
                    {{else}}
                        <td>N/A</td>
                    {{/if}}
                {{/if}}
            </tr>
        {{/each}}
    </table>

    <!--style dashboard comments tab-->
    <input type="radio" id="comments-tab" name="dashboard-tabs">
    <label for="comments-tab">Comments</label>
    <table class="dashboard-tab">
        <tr>
            <th></th>
            <th>PatientID</th>
            <th>Name</th> 
            <th>Attribute</th>  
            <th>Value</th>
            <th>Comment</th>
        </tr>

        {{#each patientData}}
            {{#if this.summary.glucoseID.comments}}
                <tr>    
                    <td>
                        <form action="/clinician/patient_view" method="POST">
                            <input type="hidden" name="patientID" value = {{this._id}}>
                            <button class = "view-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="10" cy="10" r="7" />
                                <line x1="21" y1="21" x2="15" y2="15" />
                                </svg>
                            </button>
                        </form>
                    </td>
                    
                    <td>{{this.patientID}}</td>
                    <td>{{this.first_name}} {{this.last_name}}</td>
                    <td>Glucose Level (mmol/L)</td>  
                    
                    {{#if this.summary.glucoseID}}
                        <td class={{checkThreshold this.summary.glucoseID.glucose_data this.glucose_min this.glucose_max}}>{{this.summary.glucoseID.glucose_data}}</td>    
                    {{else}}
                        <td class="data-warning">-</td>    
                    {{/if}}
                    {{#if this.summary.glucoseID.comments}}
                        <td>{{this.summary.glucoseID.comments}}</td>
                    {{else}}
                        <td>-</td>
                    {{/if}}
        
                </tr>
            {{/if}}

            {{#if this.summary.weightID.comments}}
                <tr>    
                    <td>
                        <form action="/clinician/patient_view" method="POST">
                            <input type="hidden" name="patientID" value = {{this._id}}>
                            <button class = "view-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="10" cy="10" r="7" />
                                <line x1="21" y1="21" x2="15" y2="15" />
                                </svg>
                            </button>
                        </form>
                    </td>
                    
                    <td>{{this.patientID}}</td>
                    <td>{{this.first_name}} {{this.last_name}}</td>
                    <td>Weight (kg)</td>  
                    
                    {{#if this.summary.weightID}}
                        <td class={{checkThreshold this.summary.weightID.weight_data this.weight_min this.weight_max}}>{{this.summary.weightID.weight_data}}</td>    
                    {{else}}
                        <td class="data-warning">-</td>    
                    {{/if}}
                    <td>{{this.summary.weightID.comments}}</td>
                </tr>
            {{/if}}

            {{#if this.summary.insulinID.comments}}
                <tr>    
                    <td>
                        <form action="/clinician/patient_view" method="POST">
                            <input type="hidden" name="patientID" value = {{this._id}}>
                            <button class = "view-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="10" cy="10" r="7" />
                                <line x1="21" y1="21" x2="15" y2="15" />
                                </svg>
                            </button>
                        </form>
                    </td>
                    
                    <td>{{this.patientID}}</td>
                    <td>{{this.first_name}} {{this.last_name}}</td>
                    <td>Insulin Doses</td>  
                    
                    {{#if this.summary.insulinID}}
                        <td class={{checkThreshold this.summary.insulinID.insulin_data this.insulin_min this.insulin_max}}>{{this.summary.insulinID.insulin_data}}</td>    
                    {{else}}
                        <td class="data-warning">-</td>    
                    {{/if}}

                    {{#if this.summary.insulinID.comments}}
                        <td>{{this.summary.insulinID.comments}}</td>
                    {{else}}
                        <td>-</td>
                    {{/if}}
        
                </tr>
            {{/if}}

            {{#if this.summary.exerciseID.comments}}
                <tr>    
                    <td>
                        <form action="/clinician/patient_view" method="POST">
                            <input type="hidden" name="patientID" value = {{this._id}}>
                            <button class = "view-button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="10" cy="10" r="7" />
                                <line x1="21" y1="21" x2="15" y2="15" />
                                </svg>
                            </button>
                        </form>
                    </td>
                    
                    <td>{{this.patientID}}</td>
                    <td>{{this.first_name}} {{this.last_name}}</td>
                    <td>Exercise (steps)</td>  
                    
                    {{#if this.summary.exerciseID}}
                        <td class={{checkThreshold this.summary.exerciseID.exercise_data this.exercise_min this.exercise_max}}>{{this.summary.exerciseID.exercise_data}}</td>    
                    {{else}}
                        <td class="data-warning">-</td>    
                    {{/if}}
                    {{#if this.summary.exerciseID.comments}}
                        <td>{{this.summary.exerciseID.comments}}</td>
                    {{else}}
                        <td>-</td>
                    {{/if}}
        
                </tr>
            {{/if}}
           
        {{/each}}
    </table>

    <p>*note: data marked in red require your attention</p>
</div>