<h1 id="back-block">
    <a href="/clinician">&lt; back: to dashboard</a>
</h1>


<div class="patient-view-container">
    <div class="patient-view-container-child">
        <h2>Patient Details</h2>

        <!--patient's details-->
        <div class="patient-details-container">
            <div class="patient-details">
                <table>
                    <tr>
                        <td>Given name:</td>
                        <td>{{profile.first_name}}</td>
                    </tr>
                    <tr>
                        <td>Family name:</td>
                        <td>{{profile.last_name}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{profile.email}}</td>
                    </tr>
                    <tr>
                        <td>Date of birth:</td>
                        <td>{{profile.DOB}}</td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td>{{profile.gender}}</td>
                    </tr>
                </table>
            </div>
            <div class="patient-details-img">
                <img src={{profile.profile_picture}}>
            </div>
        </div>
        
        <!--clinician's notes-->
        <div class="clinician-input">
            <!--header and view history of notes-->
            <h3 id="note-input-header">
                <form action="/clinician/patient_view/notes" method="GET">
                    Enter a note: &nbsp;
                    <input type="hidden" name="patientID" value={{profile._id}}>
                    <input type="submit" value = "+ view notes history">
                </form>
            </h3>
            
            <!--inputs a note for the clinician-->
            <form action="/clinician/patient_view/notes" method="POST">
                <input type="hidden" name="patientID" value={{profile._id}}>
                <textarea name = "clinician_note"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="patient-view-container-child">
        <h2>Patient Data Requirements and Support Message</h2>

        <form action="/clinician/patient_view" method="POST">
            <!--patient requirements-->
            <div class="patient-requirements">            
                <table>
                    <tr>
                        <th></th>
                        <th>Required</th>
                        <th colspan="3">Suitable Threshold Range</th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                        <th class="threshold-label">Lowest</th>
                        <th class="threshold-label">Highest</th>
                        <th></th>
                    </tr>
                    <tr>
                        {{!- Note for later, form submission would check either id of first box from true now becomes false OR id of second box from false become true}}
                        <td class="align-left">Blood Glucose Level</td>
                        {{#if profile.req_glucose}}
                            <td><input type="checkbox" name = "req_glucose" checked onchange="enable_changes()"></td>
                        {{else}}
                            <td><input type="checkbox" name = "req_glucose" onchange="enable_changes()"></td>
                        {{/if}}
                        {{#if profile.req_glucose}}
                            <td><input type="text" placeholder="{{profile.glucose_min}}" name = "glucose_min" onchange="enable_changes()" pattern = "[0-9]+[.]?[0-9]*" title = "Must be a number"></td>
                            <td><input type="text" placeholder="{{profile.glucose_max}}" name = "glucose_max" onchange="enable_changes()" pattern = "[0-9]+[.]?[0-9]*" title = "Must be a number"></td>
                        {{else}} 
                            <td><input type="text" placeholder="-" disabled></td>
                            <td><input type="text" placeholder="-" disabled></td>
                        {{/if}}
                        <td class="align-left">mmol/L</td>
                    </tr>
                    <tr>
                        <td class="align-left">Weight</td>
                        {{#if profile.req_weight}}
                            <td><input type="checkbox" name = "req_weight" checked onchange="enable_changes()"></td>
                        {{else}}
                            <td><input type="checkbox" name = "req_weight" onchange="enable_changes()"></td>
                        {{/if}}
                        {{#if profile.req_weight}}
                            <td><input type="text" placeholder="{{profile.weight_min}}" name = "weight_min" onchange="enable_changes()" pattern = "[0-9]+[.]?[0-9]*" title = "Must be a number"></td>
                            <td><input type="text" placeholder="{{profile.weight_max}}" name = "weight_max" onchange="enable_changes()" pattern = "[0-9]+[.]?[0-9]*" title = "Must be a number"></td>
                        {{else}}                
                            <td><input type="text" placeholder="-" disabled></td>
                            <td><input type="text" placeholder="-" disabled></td>
                        {{/if}}
                        <td class="align-left">kg</td>
                    </tr>
                    <tr>
                        <td class="align-left">Inuslin Doses</td>
                        {{#if profile.req_insulin}}
                            <td><input type="checkbox" name = "req_insulin" checked onchange="enable_changes()"></td>
                        {{else}}
                            <td><input type="checkbox" name = "req_insulin" onchange="enable_changes()"></td>
                        {{/if}}
                        {{#if profile.req_insulin}}
                            <td><input type="text" placeholder="{{profile.insulin_min}}" name = "insulin_min" onchange="enable_changes()" pattern = "[0-9]+[.]?[0-9]*" title = "Must be a number"></td>
                            <td><input type="text" placeholder="{{profile.insulin_max}}" name = "insulin_max" onchange="enable_changes()" pattern = "[0-9]+[.]?[0-9]*" title = "Must be a number"></td>
                        {{else}}                
                            <td><input type="text" placeholder="-" disabled></td>
                            <td><input type="text" placeholder="-" disabled></td>
                        {{/if}}
                        <td></td>
                    </tr>
                    <tr>
                        <td class="align-left">Exercise</td>
                        {{#if profile.req_exercise}}
                            <td><input type="checkbox" name = "req_exercise" checked onchange="enable_changes()"></td>
                        {{else}}
                            <td><input type="checkbox" name = "req_exercise" onchange="enable_changes()"></td>
                        {{/if}}

                        {{#if profile.req_exercise}}
                            <td><input type="text" placeholder="{{profile.exercise_min}}" name = "exercise_min" onchange="enable_changes()" pattern = "[0-9]+[.]?[0-9]*" title = "Must be a number"></td>
                            <td><input type="text" placeholder="{{profile.exercise_max}}" name = "exercise_max" onchange="enable_changes()" pattern = "[0-9]+[.]?[0-9]*" title = "Must be a number"></td>
                        {{else}}                
                            <td><input type="text" placeholder="-" disabled></td>
                            <td><input type="text" placeholder="-" disabled></td>
                        {{/if}}
                        <td class="align-left">steps</td>
                    </tr>
                </table>

            </div>

            <!--patient support message-->
            <div class="patient-message-input">
                <h3>Your support message for {{profile.first_name}}:</h3>
                <textarea placeholder= "{{profile.support_message}}" name = "support_message" onchange="enable_changes()"></textarea>    
            </div>

            <!--save changes-->
            <input type="submit" id = "save-changes" value = "Save changes" disabled>
            <input type="hidden" name ="update" value = "checked"> 
            <input type="hidden" name ="patientID" value = {{profile._id}}>
        </form>
    </div>
</div>

<div class="patient-view-history">
    <h2>Patient History</h2>
    <div class="history-table-border">
        <table class="history-table">
            <tr>
                <th>Date</th>
                <th>Blood Glucose Level (mmol/L)</th>
                <th>Weight (kg)</th>
                <th>Insulin doses</th>
                <th>Exercise (steps)</th>
            </tr>
            <!--iterate over patient's past data and display in table-->
            {{#each allData}}
                <tr>
                    <td>{{formatDate this.datetime "DD/MM/YYYY"}}</td>
                    <td>
                        {{#if this.glucoseID.glucose_data}}
                            {{this.glucoseID.glucose_data}}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                    <td>
                        {{#if this.weightID.weight_data}}
                            {{this.weightID.weight_data}}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                    <td>
                        {{#if this.insulinID.insulin_data}}
                            {{this.insulinID.insulin_data}}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                    <td>
                        {{#if this.exerciseID.exercise_data}}
                            {{this.exerciseID.exercise_data}}
                        {{else}}
                            -
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>

<script>
    function enable_changes() {
        document.getElementById('save-changes').disabled = false;
    }
</script>