<img src={{profile.profile_picture}} id="settings-img">

<div class="band">
    <div class="settings-entry">
        <h3>Given name:</h3>
        <input type="text" placeholder={{profile.first_name}} name="acc_firstname" readonly="readonly">
    </div>
    <div class="settings-entry">
        <h3>Family name:</h3>
        <input type="text" placeholder={{profile.last_name}} name="acc_lastname" readonly="readonly">
    </div>
    <div class="settings-entry">
        <h3>Email:</h3>
        <input type="text" placeholder={{profile.email}} name="acc_email" readonly="readonly">
    </div>
    <div class="settings-entry">
        <h3>Username:</h3>
        <input type="text" placeholder={{profile.username}} name="acc_username" readonly="readonly">
    </div>
    <div class="settings-entry">
        <h3>Gender:</h3>
        <input type="text" placeholder={{profile.gender}} name="acc_gender" readonly="readonly">
    </div>
    <div class="settings-entry">
        <h3>Date of birth:</h3>
        <input type="text" placeholder={{profile.DOB}} name="acc_dob" readonly="readonly">
    </div>
    <div class="settings-entry">
        <h3>Text bio:</h3>
        <textarea name="acc_bio" placeholder={{profile.textbio}} readonly="readonly"></textarea> 
    </div>
    <div class="settings-entry">
        <h3>Reset your password</h3>
        <form action="/patient/settings" method="POST"> 
            <input id="password-change" type="password" placeholder="Enter new password" name="password" onchange="enable_changes()" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="must contain at least one number and one uppercase and lowercase letter, and be at least 8 characters">
            <input type="submit" id="reset-password" value="Reset" disabled >
        </form>
        <button onclick="change_mode()" id="password-mode">Show password</button>
    </div>
</div>


<script>
    function change_mode() {
        var mode = document.getElementById('password-change').type

        if (mode == "text") {
            document.getElementById('password-change').type = "password"
            document.getElementById('password-mode').innerHTML = "Show password"
        }
        else {
            document.getElementById('password-change').type = "text"
            document.getElementById('password-mode').innerHTML = "Hide password"
        }
    }

    function enable_changes() {
        document.getElementById('reset-password').disabled = false;
    }
</script>