<img src={{profile.profile_picture}} id="settings-img">

<div class="band">
    <div class="settings-entry">
        <h3>Given name:</h3>
        <input type="text" placeholder={{profile.first_name}} name="acc_firstname" readonly="readonly">
    </div>
    <div class="settings-entry">
        <h3>Family name:</h3>
        <input type="text" placeholder={{profile.last_name}} name="acc_lastname" readonly="readonly">
    </div>
    <div class="settings-entry">
        <h3>Email:</h3>
        <input type="text" placeholder={{profile.email}} name="acc_email" readonly="readonly">
    </div>
    <div class="settings-entry">
        <h3>Username:</h3>
        <input type="text" placeholder={{profile.username}} name="acc_username" readonly="readonly">
    </div>
    <div class="settings-entry">
        <h3>Gender:</h3>
        <input type="text" placeholder={{profile.gender}} name="acc_gender" readonly="readonly">
    </div>
    <div class="settings-entry">
        <h3>Date of birth:</h3>
        <input type="text" placeholder={{profile.DOB}} name="acc_dob" readonly="readonly">
    </div>
    <div class="settings-entry">
        <h3>Text bio:</h3>
        <textarea name="acc_bio" placeholder={{profile.textbio}} readonly="readonly"></textarea> 
    </div>
    <div class="settings-entry">
        <h3>Reset your password</h3>
        <input id="password-change" type="password" placeholder="Enter new password" name="password">
        <button>Reset</button>
    </div>
</div>
