
<div class="record-data">
    {{! Image inserted here }}
    <svg id width="45" height="45" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" fill="none" stroke-linecap="round" stroke-linejoin="round">
        {{#each templateInfo.svg_path}}
            <path d="{{this}}"/>
        {{/each}}
    </svg>

    {{! Submit buttons and the comments text box}}

    {{! Mental note on behaviour: when text box is in focus, an outline will appear, yay or nay?}}
    {{! Mental note 2: need to dynamically change the submission path thing too }}
    {{! Mental note 3: should I just call these tags p?}}

    <div class = "forms">
        <form action="/{{templateInfo.path_to}}" method="POST" id="send-data">
            <div class = "input-boxes">
                <txt1> 
                    {{templateInfo.data_type}}:             
                </txt1> 
                <input type="data" id="data-entry" name = "{{templateInfo.path_from}}_data">
                <txt2> 
                    {{templateInfo.unit}}
                </txt2>                
            </div>

            <textarea id="text-entry" placeholder="Add a comment.." name = "comments"></textarea>
            <input type ="hidden" name ="date" value ={{getDate}}>

            <div>
                <button1 type="button" onclick="submission_overlay_on()"><input type="button" value = "Submit"/></button1>
            </div>
            
        </form>        
        
        <a href = "/patient/record">
            <button2><input type="button" value = "Cancel"/></button2>
        </a>
    </div>
</div>

<div id="submission-overlay">
    <div id="submission-content">
        <h2>Confirm submission</h2>

        <div id="submission-text">
            <div id="confirm-top-half">
                <!-- retrieve data inputted from submission page -->
                <div id="submission-category">
                    <p><span><b>{{templateInfo.data_type}}: </b></span></p>
                    <p id="confirm-data" class="confirm-format"></p>
                    <p class="confirm-format">{{templateInfo.unit}}</p>
                </div>
                <div id="submission-comment">
                    <p><span><b>Comment: </b></span> </p>
                    <p id="confirm-comment" class="confirm-format"></p>
                </div>
            </div>

            <div id="separator"></div>

            <div id="confirm-bottom-half">
                <p id="submission-warning">Please ensure data is correct as data is unchangeable after submitting.</p>
                
                <div>
                    <a onclick="submission_overlay_off()" id="cancel-submission">Cancel</a>
                    <input type="submit" form="send-data" id="submit-submission" value="Submit">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function submission_overlay_on() {
        document.getElementById("submission-overlay").style.display = "block";
        var data = document.getElementById("data-entry").value;
        var comment= document.getElementById("text-entry").value;
        document.getElementById("confirm-comment").innerHTML = comment;
        document.getElementById("confirm-data").innerHTML = data;
    }

    function submission_overlay_off() {
        document.getElementById("submission-overlay").style.display = "none";
    }
</script>
