
<div class="record-data">
    <!--inserts image corresponding to attribute-->
    <svg id width="45" height="45" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" fill="none" stroke-linecap="round" stroke-linejoin="round">
        {{#each templateInfo.svg_path}}
            <path d="{{this}}"/>
        {{/each}}
    </svg>

    <div class = "forms">
        <form action="/{{templateInfo.path_to}}" method="POST" id="send-data">
            <!--input for attribute value-->
            <div class = "input-boxes">
                <txt1>{{templateInfo.data_type}}:</txt1> 
                <input id="data-entry" type="data" name = "{{templateInfo.path_from}}_data" required pattern="[0-9]+" title="Please input a valid number" onkeydown="return event.key != 'Enter';">
                <txt2>{{templateInfo.unit}}</txt2>                
            </div>

            <!--input for comment-->
            <textarea id="text-entry" placeholder="Add a comment.." name = "comments"></textarea>       

            <!--input for submission confirmation-->  
            <div>
                <button1 type="button" onclick="submission_overlay_on()"><input type="button" value = "Submit"/></button1>
            </div>
        </form>        
        
        <a href = "/patient/record">
            <button2><input type="button" value = "Cancel"/></button2>
        </a>
    </div>
</div>

<!--overlay displayed when 'submit' button pressed-->
<div id="submission-overlay">
    <div id="submission-content">
        <h2>Confirm submission</h2>

        <div id="submission-text">
            <div id="confirm-top-half">
                <!--retrieve data inputted from submission page and display-->
                <div id="submission-category">
                    <p><span><b>{{templateInfo.data_type}}:&nbsp;</b></span></p>
                    <p id="confirm-data"></p>
                    <p>&nbsp;{{templateInfo.unit}}</p>
                </div>
                <div id="submission-comment">
                    <p><span><b>Comment: </b></span> </p>
                    <p id="confirm-comment"></p>
                </div>
            </div>

            <div id="separator"></div>

            <div id="confirm-bottom-half">
                <p id="submission-warning">Please ensure data is correct as data is unchangeable after submitting.</p>
                
                <div>
                    <a onclick="submission_overlay_off()" id="cancel-submission" class="blue-text">Cancel</a>
                    <input type="submit" form="send-data" id="submit-submission" class="blue-text" value="Submit">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // displays submission confirm overlay while retrieving values inputted by user
    function submission_overlay_on() {
        document.getElementById("submission-overlay").style.display = "block";
        var data = document.getElementById("data-entry").value;
        var comment= document.getElementById("text-entry").value;
        document.getElementById("confirm-comment").innerHTML = comment;
        document.getElementById("confirm-data").innerHTML = data;
    }

    // hides submission confirm overlay
    function submission_overlay_off() {
        document.getElementById("submission-overlay").style.display = "none";
    }
</script>
